body {
  background: linear-gradient(60deg, #0496FF, #9CFFFA);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  box-shadow: 0 4px 12px rgba(0, 0, 0, .8);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  width: 400px;
}

.display {
  background-color: #393756;
  box-sizing: border-box;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  min-height: 100px;
  height: auto;
  overflow-wrap: break-word;
  padding: 8px 16px;
  text-align: right;
}

.button-panel {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
}

.button {
  background-color: #564D98;
  box-sizing: border-box;
  color: white;
  height: 100px;
  font-size: 1.3rem;
  line-height: 100px;
}

.button:nth-of-type(-n+4) {
  background-color: #6B82F2;
}

.button:nth-of-type(4n+4) {
  background-color: #6B82F2;
}

.button:nth-of-type(20) {
  background-color: #FF1E4B;
}

.button:hover {
  transition: 500ms;
  opacity: 0.2;
}