.App {
    margin: 30px auto;
    text-align: center;
    width: 700px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.display {
  background-color: #858694;
  box-sizing: border-box;
  color: white;
  font-size: 4rem;
  font-weight: bold;
  height: 100px;
  line-height: 78px;
  padding: 8px 16px;
  text-align: right;
}

.group {
  display: flex;
  width: 100%;
}

.button {
  box-sizing: border-box;
  border: 1px solid #D1D1D1;
  height: 100px;
  line-height: 100px;
}